a {color:#2b7de2}

.btn {background:#2b7de2; color:#fff}
.btn:hover {color:#fff; background:#000}
.btn:disabled {background:#fafafa; color:#bfbfbf}

.form-file-input span {color:#2b7de2; border-color:#2b7de2}
.form-file-input:hover span {color:#fff; border-color:#000}
.form-file-input span svg {fill:#2b7de2}
.form-file-input:hover span svg {fill:#fff}

.pager a,
.pager span {color:#373737}
.pager a:hover {color:#2b7de2}
.pager a.pager-prev svg,
.pager a.pager-next svg {stroke:#373737}
.pager a.active {color:#fff; background:#2b7de2; border-color:#2b7de2}

header {background:#2b7de2}
.logo-indola {margin:19px 0 0 420px}

.header-btns a {background:#fff}
.header-btns a:hover {background:#d3d3d3}
.header-btns a svg {fill:#000}

.header-user a {color:#fff}
.header-user a:hover {color:#fff}
.header-user strong {background:#fff}
.header-user a:hover strong {background:#d3d3d3}
.header-user svg {fill:#000}
.header-user a:hover svg {fill:#000}

.supervizor-saloons-list-cell span {color:#2b7de2}

.window-close {background:#1a68c9}
.window-close:hover {background:#fff}
.window-close svg {stroke:#fff}
.window-close:hover svg {stroke:#1a68c9}

.window-title {background:#2b7de2; color:#fff}

.window-saloon-type {color:#2b7de2}

.bonus-info-level-1 {background:#2b7de2}

.report-item-header-content a:hover,
.report-item.open .report-item-header-content a {background:#2b7de2}

.supervizor-saloons-filter-q:hover .supervizor-saloons-filter-q-current::before {border-color:#2b7de2}
.supervizor-saloons-filter-q.open .supervizor-saloons-filter-q-current::before {border-color:#2b7de2}
.supervizor-saloons-filter-q-list-row-q input:checked+span {background:#2b7de2}
.supervizor-saloons-filter-status:hover .supervizor-saloons-filter-status-current::before {border-color:#2b7de2}
.supervizor-saloons-filter-status.open .supervizor-saloons-filter-status-current::before {border-color:#2b7de2}

.wrapper .analytics-data-inner th.analytics-data-header-q-month {border-top-color:#2b7de2}
.wrapper .analytics-data-inner th.analytics-data-header-q-summ {border-top-color:#2b7de2}
.wrapper .analytics-data-inner th.analytics-data-header-q-level {border-top-color:#2b7de2}

.analytics-data .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background:#2b7de2}